
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal__content {
  width: 300px;
  padding: 30px;
  min-height: 200px;
  background-color: white;
  border: 1px solid red;
  border-radius: 5px;
  position: relative;
  z-index: 2;
}